.content-div{
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.7);
    border-left: 5px solid var(--color-hover);
    border-radius: 5px;
    padding: 0 20px 0 20px;
    display: flex;
}

.content-div:hover{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 5px rgb(235, 235, 235, 0.8);
}

.content-div .name, .description{
    flex: 3;
}

.content-div .price, .stocks{
    flex: 1;
}

.content-div .name{
    font-weight: bold;
}

.content-div .price{
    font-weight: bold;
    color: var(--color-hover);
}

.content-div .price::before{
    content: "$ ";
}

.content-div .icon{
    flex: 0.35;
    margin-top: 15px;
    font-size: 25px;
}

.content-div .icon:active{
    transform: scale(0.9);
}

.content-div .red{
    color: tomato;
}

.content-div .blue{
    color: dodgerblue;
}